.actual {
  color: var(--color-state-actual);
}

.potential {
  color: var(--color-state-potential);
}

.deferred {
  color: var(--color-state-deferred);
}

.unattractive {
  color: var(--color-state-unattractive);
}
